.section-title{
    font-family: 'Playfair Display', serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
}
hr{
    border: 2px solid var(--main-color);
    width: 10%;
    margin: 0 auto;
    margin-bottom: 5rem;
    transition: all 0.3s ease-in-out;
}

.section-title:hover + hr{
    width: 50%;
}