.skills{
    margin-top: 9rem;
    text-align: center;
}

.skills .icons{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    font-size: 5rem;
}

.skills .icons i{
    transition: all 0.3s ease-in-out;
}
.skills .icons i:hover{
    color: var(--text-light);
}